/* Estilos generales */
*{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f5f0;
    color: #333;
    text-align: center;
}

/* HEADER MODERNO */
header {
    position: relative;
    background: linear-gradient(180deg, rgba(22, 74, 65, 0.8), rgba(22, 74, 65, 0.5)), url('assets/fiambreria.jpg') no-repeat center/cover;
    height: 480px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.header-content {
    position: relative;
    z-index: 1;
}

.logo {
    width: 300px;
}

.logoencontacto{
    width: 300px;
}

/* BARRA DE NAVEGACIÓN */
.navlist {
    list-style: none;
    padding: 15px;
    background: #164A41;
}

.navlist li {
    display: inline;
    margin: 15px;
    transition: 0.5s ease;
}

.navlist li:hover{
    color: white;
}

.navlist a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.navlist a:hover{
    text-decoration: none;
    background-color: white;
    color: #F1B24A;
    padding: 10px;
    border-radius: 8px;
}

/* PRODUCTOS */
.productos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.producto {
    background: #9DC88D;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
}

.producto:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
/* FOOTER */
footer {
    background: #164A41;
    color: white;
    height: 130px;
    position: relative  ; 
}
footer p{
    padding-top: 10px;
}

.producto img {
    width: 100%; /* Para que ocupen todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción */
    max-width: 250px; /* Limita el tamaño máximo */
    display: block;
    margin: 0 auto; /* Centra la imagen */
    border-radius: 10px;
}

#devBy{
    color: gray;
}

@media (max-width: 768px) {
    .logo{
        position: relative;
        height: 300px;
        width: 300px;
    }
    .header-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 50px;
    }
    .header{
        display: flex;
        height: auto;
    }

    /* Hover también en mobile */
    .navlist a:hover {
        background-color: white;
        color: #F1B24A;
        padding: 10px;
        border-radius: 8px;
    }
}
